#connect{
  height: 100vh;
  width: auto;
  padding: 10% 4%;
  background-color: #1F003C;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
}
/* p{
  font-size: 4rem;
  text-align: center;
} */
