#home {
  padding: 3%;
  background-color: #1F003C;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}
h1{
  color: white;
  padding: 12%
}

.navbar{
  margin-bottom: 5%;
}

.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-weight: bold;
}
img{
  box-shadow: black 10px 10px 15px;
}
